* {
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    overflow: hidden;
}

.Background {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card{
    padding: 0;
    margin: 0;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 12px;
}

#Image{
    width: 50%;
    background-image: url(/images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#Info{
    width: 50%;
    padding: 32px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Info h1, h2, p{
    margin: 0px;
}


.Pricing{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
}

.Pricing #FullPrice{
    margin-left: 24px;
}

.Primary{
    width: 100%;
    height: 48px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 8px;
    border: 0px;
}
.Primary i {
    font-size: 1rem;
    color: white;
    padding-right: 8px;
}

.Primary:hover {
    background-color: hsl(158, 36%, 15%);
}


footer{
    position: relative;
    text-align: center;
    width: 100%;
    bottom: 32px;
} 


/* - - - - - - - - - - - - - - -  TEXT STYLES */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

h1, h3 {
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 2.4rem;
}

h2, p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.Primary{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
}

.Card h2{
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    color: hsl(228, 12%, 48%);
}
.Card h1{
    color: hsl(212, 21%, 14%);
    line-height: 2.5rem;
}
.Card h3{
    color: hsl(158, 36%, 37%);
}

.Card p{
    font-size: 1rem;
    color: hsl(228, 12%, 48%);
    line-height: 1.5rem;
}

.Pricing #FullPrice{
    text-decoration: line-through;
}

.attribution{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
}
 
.attribution a:-webkit-any-link{
    color: hsl(158, 36%, 37%)
}